

<a href="/Course/ShowAllCourses" class="btn btn-primary"> Show All Courses </a>
<br>
<br>


<a href="/Course/ShowCourseByName" class="btn btn-primary"> Show Course By Name </a>
<br>
<br>



<a href="/Course/AddNewCourse" class="btn btn-primary"> Add New Course </a>
<br>
<br>



